@charset "utf-8";

body {
    margin: 0;
    transition: .5s;
    position: relative;

    overflow: hidden;
}

/* Google Fonts 読み込み */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/* 全体を囲うコンテナー */
.container {
    width: 100%;
    height: 100vh;
    background-color: #15151e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* 時計の共通スタイル */
.clock {
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6;
    line-height: 1.2;
    text-align: center;
}

/* 日付のスタイル */
.clock-date {
    font-size: 25px;
}

/* 時間のスタイル */
.clock-time {
    font-size: 100px;
    text-shadow: 0 0 20px var(--color-select);
    --color-select: #0aafe6;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
    .clock-date {
        font-size: 5vw;
    }

    .clock-time {
        font-size: 20vw;
    }
}

/* !------------------------game------------------------ */

.container {
    background-image: url(./img/back.jpg);
    background-size: 130%;
}


.bullet {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;

    background-color: #fff;
}